# Entornos virtuales
.venv/
venv/
env/

# Cachés y archivos compilados
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# Puntos de control de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de configuración y de usuario (ejemplo)
.vscode/
.idea/
.env